### Composer ###
composer.phar
vendor/
public/client
public/admin
package/appPack.zip
package/app/*
!package/app/.gitkeep
deploy/virtual_temp/

### Resources ###
node_modules/

### docker ###
php-docker/

### quality ###
testresults
.sonar/

npm-debug.log

### Laravel ###
.env
Homestead.yaml
Homestead.json

### Production ###
*.zip
ftp.log

### Editors ###

.vscode/
.settings
.project

# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio
.idea/
.idea_modules/
/out/
*.ipr
*.iws
*.iml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties

### mac os x ####
.DS_Store

### Project ###
#public/admin/index.html
